<!DOCTYPE html>
<html>
    <head>
        <title>Jarvis - Schedule Cruncher</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/davidstutz/bootstrap-multiselect/6367ced04daafc054aeff51b2a903669eb0da214/dist/css/bootstrap-multiselect.css">
    </head>
    <body>

        <div id="app"></div>

        <!-- Dependencies -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react-router/0.13.3/ReactRouter.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdn.rawgit.com/davidstutz/bootstrap-multiselect/6367ced04daafc054aeff51b2a903669eb0da214/dist/js/bootstrap-multiselect.js"></script>

        <!-- Application -->
        <script type="text/javascript" src="/static/build/js/jarvis.js"></script>
    </body>
</html>
